@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
body {
  background-color: #fcf5e5;
  font-family: "Poppins", sans-serif;
  color: #333;
}
.site-header {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #e0d6c9;
}
.logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

.hero {
  display: flex;
  justify-content: space-between;
  max-width: calc(1280px - 2rem);
  margin: 2rem auto 0rem auto;
}

.hero__left {
  display: flex;
  gap: 1rem;
}

.hero__img {
  border-radius: 8px;
}

.hero__name {
  color: #212121;
  font-weight: 500;
  font-size: 3rem;
}

.hero__profile {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__bio {
  color: #212121b2;
  font-size: 1rem;
}

.hero__edit {
  border: none;
  background-color: transparent;
  color: #212121b2;
  display: flex;
  gap: 0.5rem;
  margin-top: auto;
}

.hero__new {
  align-self: flex-end;
  background-color: #212121;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.hz__line {
  width: 100%;
  height: 1px;
  background-color: #21212166;
  max-width: calc(1280px - 2rem);
  margin: 1rem auto;
}
/* grid section */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: calc(1280px - 2rem);
  margin: 2rem auto;
}
.card > img {
  width: 100%;
  height: 313px;
  object-fit: cover;
  border-radius: 8px;
}
.card__content {
  display: flex;
  justify-content: space-between;
}

footer {
  text-align: center;
  font-size: 16px;
  margin-bottom: 2.5rem;
}

/* MOBILE VIEW  */

@media (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .hero {
    display: flex;
    flex-direction: column;
  }

  .hero__left {
    display: flex;
    flex-direction: column;
  }

  .hero__name {
    font-size: 20px;
    font-weight: 500;
  }

  .hero__img {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .hero__profile {
    width: 280px;
    justify-content: center;
    text-align: center;
  }

  .hero__edit {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 0.7rem;
  }

  .hero__new {
    width: 280px;
  }

  .hero__bio {
    font-size: 16px;
  }

  .hz__line {
    width: 95%;
    height: 1px;
    background-color: #21212166;
    max-width: calc(1280px - 2rem);
    margin: 1rem auto;
  }

  .cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }

  h4 {
    font-size: 16px;
  }

  footer {
    margin-bottom: 2.5rem;
  }
}

/* TABLET VIEW  */
@media (max-width: 1024px) {
  .cards,
  .hero {
    padding: 0px 10px;
  }

  .hz__line {
    width: 95%;
    height: 1px;
    background-color: #21212166;
    max-width: calc(1280px - 2rem);
    margin: 1rem auto;
  }
}
